.codewindow-container {
  height: 70vh;
  width: 50%;
  //   background-color: blue;
}
.codewindow-action-container {
  width: 100%;
  height: 2rem;
//   padding-left: 4rem;
//   background-color:green;
}
