@import "../../styles/colors.scss";
.header-container {
  background-color: $primary;
  width: 100%;
  min-height: 10vh;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-left-container,
  .header-right-container {
    width: 50%;
  }
  .header-right-container{
    display: flex;
    justify-content: flex-end;
  }
}
